<!DOCTYPE html>
<html lang="en-US">
  <meta charset="utf-8">
  <title>Redirecting&hellip;</title>
  <link rel="canonical" href="{{ page.goto }}">
  <script>location="{{ page.goto }}"</script>
  <meta http-equiv="refresh" content="0; url={{ page.goto }}">
  <meta name="robots" content="noindex">
  <style>
    html {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      text-align: center;
      padding-top: 30vh;
      background-color: #daeafa;
      color: #253951;
      font-family: 'Montserrat', sans-serif;
    }
    h1 {
      font-size: 18x;
    }
    a {
      text-decoration: none;
      color: #253951;
    }
    a:hover {
      text-decoration: underline;
    }
    #dots {
      width: 98px;
      margin: auto;
      overflow: hidden;
    }
  </style>
  <h1>Redirecting</h1>
  <a href="{{ page.goto }}">Click here if you are not redirected</a>
  <p id='dots'></p>

  hello

  <script>
    setInterval(function() {
      document.getElementById('dots').textContent += '.';
    }, 600);
  </script>
</html>
