<!DOCTYPE html>
<html lang="en-US">
  <meta charset="utf-8">
  <title>Redirecting&hellip;</title>
  <meta name="robots" content="noindex">
  <style>
    html {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      text-align: center;
      padding-top: 30vh;
      background-color: #daeafa;
      color: #253951;
      font-family: 'Montserrat', sans-serif;
    }
    h1 {
      font-size: 18x;
    }
    a {
      text-decoration: none;
      color: #253951;
    }
    a:hover {
      text-decoration: underline;
    }
    #dots {
      width: 98px;
      margin: auto;
      overflow: hidden;
    }
  </style>
  <h1>Redirecting</h1>
  <a href="{{ page.redirect.to }}">Click here if you are not redirected</a>
  <p id='dots'></p>

  {{ content }}

  {% include google-analytics.html %}

  <script>
    const codes = { d: 'discord', t: 'twitter', g: 'github', w: 'website', e: 'extension'};
    const tokens = window.location.pathname.split('/').filter(Boolean);
    const code = tokens.pop();
    const name = tokens.pop();
    gtag('event', name, {
      'source': codes[code] || window.location.pathname
    });
    gtag(function() {
      window.location.replace("{{ page.redirect.to }}")
    });
    setTimeout(function() {
      window.location.replace("{{ page.redirect.to }}");
    }, 2000);
    setInterval(function() {
      document.getElementById('dots').textContent += '.';
    }, 600);
  </script>
</html>
